@model LayoutsMVC.Models.EMPDATA
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Editbtn","EMP"))
{
<table>
    <tr>
        <td>Empno</td>
        <td>@Html.TextBoxFor(a => a.EMPNO)</td>
    </tr>
    <tr>
        <td>Ename</td>
        <td>@Html.TextBoxFor(a => a.ENAME)</td>
    </tr>
    <tr>
        <td>JOB</td>
        <td>@Html.TextBoxFor(a => a.JOB)</td>
    </tr>
    <tr>
        <td>MGR</td>
        <td>@Html.TextBoxFor(a => a.MGR)</td>
    </tr>
    <tr>
        <td>Hiredate</td>
        <td>@Html.TextBoxFor(a => a.HIREDATE)</td>
    </tr>
    <tr>
        <td>Sal</td>
        <td>@Html.TextBoxFor(a => a.SAL)</td>
    </tr>
    <tr>
        <td>Comm</td>
        <td>@Html.TextBoxFor(a => a.COMM)</td>
    </tr>
    <tr>
        <td>Deptno</td>
        <td>@Html.TextBoxFor(a => a.DEPTNO)</td>
    </tr>
    <tr>
        <td><input type="submit" value="Edit" /></td>
    </tr>
</table>
    if (ViewBag.msg != null)
    {
        @ViewBag.msg;
    }
}
<div>
    @Html.ActionLink("Back to List","Index")
</div>
